{cover_enabled, true}.
{plugins,[rebar_gitconf]}.
{configs, [  {git, "git@da-git.adsage.com:bpconfigcenter/log_system.git"}, 
             {branch, "master"},
             {dst, "etc"},
             {template, ["*.config"]},
             {place_hold_script, "scripts/place_hold_script.erl"}
             ]}.
